/* Logo-ine white aakkaan ulla filter */
.white-logo-filter {
  filter: brightness(0) invert(1);
}

/* Mobile-il spacing correct aakkaan */
@media (max-width: 767px) {
  .footer-col {
    text-align: center;
    margin-bottom: 30px;
  }
}